.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .footer .social-links a:hover {
    color: #ddd;
  }
  
  .footer .social-links .github-icon {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, background-color 0.3s;
  }
  
  .footer .social-links .github-icon:hover {
    color: white;
    background-color: black;
  }
  
  
  